<!DOCTYPE HTML>
<html lang="ko">
        
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://192.168.0.25:3000/public/xml2json.js"></script>
    <script type="text/javascript" src="http://192.168.0.25:3000/public/json2xml.js"></script>
    <script type="text/javascript" src="http://192.168.0.25:3000/public/finesseRestApi.js"></script>
    <script type="text/javascript" src="http://192.168.0.25:3000/public/jquery.serialize-object.js"></script>
    <meta charset="UTF-8">
    <title>Finesse Datas</title>
</head>

<body>
    <script>
        let startData = `<%- Data %>`
        $(document).ready(function(){
            objData = JSON.parse(startData)
            ElementSettingFromObject(objData, 'mainDiv')
        })
        async function sendCreate(){
            let formObject = $("#mainForm").serializeObject()
            let id = formObject.Dialog.id
            await PostPutDialogUri(`http://192.168.0.25:3000/finesse/api/Dialog/${id}`, 'post', formObject)
        }
        async function sendUpdate(){
            let formObject = $("#mainForm").serializeObject()
            let id = formObject.Dialog.id
            await PostPutDialogUri(`http://192.168.0.25:3000/finesse/api/Dialog/${id}`, 'put', formObject)
        }
        async function sendDelete(id){
            if(isNaN(id) == true){
                alert('fail : DialogId는 숫자만')
                return
            }
            await DeleteDialogUri(`http://192.168.0.25:3000/finesse/api/Dialog/${id}`)
        }
        async function sendSelect(id){
            let obj = await GetUri_SetElement(`http://192.168.0.25:3000/finesse/api/Dialog/${id}`, 'mainDiv')
            ElementSettingFromObject(obj , 'mainDiv')
        }

    </script>

    <!-- http://192.168.0.25:3000/finesse/api/Dialog -->
    <form id='mainForm' action='' method="POST" name="form">
        <input id="createBtn" type="button" value="생성" onclick="sendCreate()">
        <input id="selectBtn" type="button" value="조회" onclick="sendSelect(document.getElementById('subId').value)">
        <input id="updateBtn" type="button" value="수정" onclick="sendUpdate()">
        <input id="deleteBtn" type="button" value="삭제" onclick="sendDelete(document.getElementById('subId').value)">
        DialogID (조회/삭제 시만 사용하는 Text): 
        <input id="subId" type="text" value="다이얼로그 ID 입력후 조회/수정/삭제. 생성은 ID 사용안하고 아래 내용으로 생성" size=70>
        
        <div id='mainDiv'>
            <!-- 여기 dialog object가 들어감-->
        </div>
        
        <!-- <input id="dialogSubmit" type="submit" value="안됨" onclick=""> -->
    </form>
    
</body>

</html>