<!DOCTYPE HTML>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>SimFinesse</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
    <input type="submit" value="호생성">
</body>

</html>