
<html>
    <head>
      Simm Finesse
    </head>
    <body>
      <h1>
        다이얼로그
      </h1>
      <p><a href="/finesse/views/Dialog/DialogIndex">생성</a></p>
      <p><a href="/finesse/views/SystemInfo">시스템인포</a></p>
    </body>
  </html>