
<html>
    <head>
      Simm Finesse
    </head>
    <body>
      <h1>
        유저
      </h1>
      <p><a href="/finesse/views/User">유저 생성</a></p>
      <p><a href="/finesse/views/User">유저 조회</a></p>
      <p><a href="/finesse/views/User">유저 수정</a></p>
      <p><a href="/finesse/views/User">유저 삭제</a></p>
      <h1>
        다이얼로그
      </h1>
      <p><a href="/finesse/views/Dialog">다이얼로그 생성</a></p>
      <p><a href="/finesse/views/Dialog">다이얼로그 조회</a></p>
      <p><a href="/finesse/views/Dialog">다이얼로그 수정</a></p>
      <p><a href="/finesse/views/Dialog">다이얼로그 삭제</a></p>
      <p><a href="/finesse/views/SystemInfo">시스템인포 변경</a></p>
    </body>
  </html>