
<html>
    <head>
      다이얼로그 생성
    </head>
    <body>
        <p><a href="/User">유저 생성</a></p>
        <p><a href="/finesse/view">다이얼로그 생성</a></p>
        <p><a href="/SystemInfo">시스템인포 변경</a></p>
    </body>
  </html>