
<html>
    <head>
      <script type="text/javascript" src="http://192.168.0.205:3000/public/finesseRestApi.js"></script>
      <script type="text/javascript" src="http://192.168.0.205:3000/public/json2xml.js"></script>
      Simm Finesse
    </head>
    <body>


      <script>
        async function CallPresnt(dialogId){
          console.log('CallPresent! ', dialogId)
          formObject = {
            Dialog : {
              requestedAction : 'ALERTING'
            }
          }
          await PostPutDialogUri(`http://192.168.0.205:3000/finesse/api/Dialog/${dialogId}`, 'put', formObject)

        }
        async function CallConnect(dialogId){
          console.log('CallConnect! ', dialogId)
        }
        async function XmppDialogEventTest(dialogId){
          console.log('xmppeventtest!', dialogId)
          let dialogState = document.getElementById('dialogState').value
          let userId = document.getElementById('userIdForDialog').value
          
          formObject = {
            Dialog : {
              requestedAction : 'TEST',
              userId : userId,
              state : dialogState
            }
          }
          await PostPutDialogUri(`http://192.168.0.205:3000/finesse/api/Dialog/${dialogId}`, 'put', formObject)
        }
        async function XmppUserEventTest(UserId){
          console.log('XmppUserEventTest!', UserId)
          let userState = document.getElementById('userState').value
          formObject = {
            User : {
              requestedAction : 'TEST',
              state : userState
            }
          }
          await PostPutDialogUri(`http://192.168.0.205:3000/finesse/api/User/${UserId}`, 'put', formObject)
        }
      </script>


      <script>
        async function PutScenario(eventType, scenarioId){
          console.log('PutScenario! ', scenarioId)
          console.log(document.getElementById('ScenarioCalling').value.length)

          formObject = {
            Request : {
              eventType : eventType,
              scenario : {
                Calling : document.getElementById('ScenarioCalling').value,
                AgtLoginId : document.getElementById('ScenarioAgtLoginId').value,
                AgtExtension : document.getElementById('ScenarioAgtExtension').value,
                MgrLoginId : document.getElementById('ScenarioMgrLoginId').value,
                MgrExtension : document.getElementById('ScenarioMgrExtension').value,
              },
              dialog : {
                Id : document.getElementById('ScenarioNextDialogId').value,
              }
            }
          }
          
          await PostPutDialogUri(`http://192.168.0.205:3000/finesse/api/Scenario/${scenarioId}`, 'put', formObject)
        }
        async function GetScenario(queryString){
          let response = await fetch(`http://192.168.0.205:3000/finesse/api/Scenario/${queryString}`)
          console.log('GetUri_SetElement response.ok:', response.ok)
          if(!response.ok){
              const ret = await response.json()
              console.log(ret)
              alert(`fail ${ret.message}`)
              return
          }
          
          let strResponse = await response.text()
          let objResponse = JSON.parse(strResponse)
          console.log(strResponse)
          return objResponse
        }
        async function GetScenarioDefault(){
          objResponse = await GetScenario('SCENARIO_CONFIG')

          document.getElementById('ScenarioCalling').value = objResponse.Default.Calling
          document.getElementById('ScenarioAgtLoginId').value = objResponse.Default.AgtLoginId
          document.getElementById('ScenarioAgtExtension').value = objResponse.Default.AgtExtension
          document.getElementById('ScenarioMgrLoginId').value = objResponse.Default.MgrLoginId
          document.getElementById('ScenarioMgrExtension').value = objResponse.Default.MgrExtension

          document.getElementById('ScenarioNextDialogId').value = objResponse.NextDialog.Id
        }
        async function GetScenarioNextDialogId(){
          objResponse = await GetScenario('SCENARIO_CONFIG')
          document.getElementById('ScenarioNextDialogId').value = objResponse.NextDialog.Id
        }
        window.onload = GetScenarioDefault()
      </script>


      <h1>
        유저
      </h1>
      <p><a href="/finesse/views/User">유저CRUD</a></p>
      <h1>
        다이얼로그
      </h1>
      <p><a href="/finesse/views/Dialog">다이얼로그CRUD</a></p>
      <div>
        <h1>
          시나리오
        </h1>
        <p>인입번호<input id="ScenarioCalling" type="text"></p>
        <p>1차 사번<input id="ScenarioAgtLoginId" type="text"></p>
        <p>1차 내선<input id="ScenarioAgtExtension" type="text"></p>
        <p>2차 사번<input id="ScenarioMgrLoginId" type="text"></p>
        <p>2차 내선<input id="ScenarioMgrExtension" type="text"></p>
        <p><input id="SCENARIO_DEFAULT_VALUE" type="button" value="현재 상태 Default로 설정" onclick="PutScenario('SCENARIO_DEFAULT_VALUE', 'SCENARIO_CONFIG')"></p>
      </div>

      <h2>
        기본 1차 호 인입 시나리오
      </h2>
      <div>
        DIALOG_ID<input id="ScenarioNextDialogId" type="text">
        <input type="button" value="GET NEXT DIALOG ID" onclick ="GetScenarioNextDialogId()">
      </div>
      <div>
        RESERVED
        <input type="button" value="RESERVED USER EVENT" onclick="PutScenario('AGT_USER_EVENT', 'AGT_RESERVED_USER_EVENT')">
      </div>
      <div>
        ALERTING 
        <input type="button" value="ALERTING DIALOG EVENT" onclick="PutScenario('AGT_DIALOG_EVENT', 'AGT_ALERTING_DIALOG_EVENT')">
        
      </div>
      <div>
        TALKING
        <input type="button" value="TALKING DIALOG EVENT" onclick="PutScenario('AGT_USER_EVENT', 'AGT_TALKING_USER_EVENT')">
      </div>
      <div>
        ACTIVE
        <input type="button" value="ACTIVE DIALOG EVENT" onclick="PutScenario('AGT_DIALOG_EVENT', 'AGT_ACTIVE_DIALOG_EVENT')">
      </div>
      <div>
        DROPPED
        <input type="button" value="DROPPED DIALOG EVENT" onclick="PutScenario('AGT_DIALOG_EVENT', 'AGT_DROPPED_DIALOG_EVENT')">
      </div>
      <div>
        ACTIVE
        <input type="button" value="WORK_READY USER EVENT" onclick="PutScenario('AGT_USER_EVENT', 'AGT_WORK_READY_USER_EVENT')">
      </div>
      <h2>
        기본 2차 VOC 호 인입 시나리오
      </h2>
      <div>
        RESERVED
        <input type="button" value="RESERVED USER EVENT" onclick="PutScenario('MGR_USER_EVENT', 'MGR_RESERVED_USER_EVENT')">
      </div>
      <div>
        ALERTING
        <input type="button" value="ALERTING DIALOG EVENT" onclick="PutScenario('MGR_DIALOG_EVENT', 'MGR_ALERTING_DIALOG_EVENT')">
      </div>
      <div>
        ACTIVE(TRANSFER 인경우만 사용)
        <input type="button" value="ACTIVE DIALOG EVENT" onclick="PutScenario('MGR_DIALOG_EVENT', 'MGR_ACTIVE_DIALOG_EVENT')">
      </div>
      <div>
        TALKING
        <input type="button" value="TALKING DIALOG EVENT" onclick="PutScenario('MGR_USER_EVENT', 'MGR_TALKING_USER_EVENT')">
      </div>
      <div>
        ACTIVE
        <input type="button" value="ACTIVE DIALOG EVENT" onclick="PutScenario('MGR_DIALOG_EVENT', 'MGR_ACTIVE_DIALOG_EVENT')">
      </div>

      <form>
        <input id="createDialogId" type="text">
        <input id="CallPresentBtn" type="button" value="CallPresent" onclick="CallPresnt(document.getElementById('createDialogId').value)">
        <input id="CallConnectBtn" type="button" value="CallConnect" onclick="CallPresnt(document.getElementById('createDialogId').value)">
      </form>
      <p>
        UserId <input id="userId" type="text">
        state <input id="userState" type="text">
        <input id="XmppUserEventTestBtn" type="button" value="XmppUserEventTest" onclick="XmppUserEventTest(document.getElementById('userId').value)">
      </p>
      <p>
        DialogId <input id="dialogId" type="text">
        UserId <input id="userIdForDialog" type="text">
        state <input id="dialogState" type="text">
        <input id="XmppDialogEventTestBtn" type="button" value="XmppDialogEventTest" onclick="XmppDialogEventTest(document.getElementById('dialogId').value)">
      </p>
      <p><a href="/finesse/views/SystemInfo">시스템인포</a></p>
    </body>
  </html>