
<html>
    <head>
      SimFinesse
      <script type="text/javascript" src="http://192.168.0.207:3000/public/SimFinesseHttp.js"></script>
    </head>
    <body>
      <script>
        function OpenDialogState(type, id, event){
          console.log(`OpenDialogState type: ${type} , id:${id}, event:${event}`)
          window.open(`/finesse/views/Scenario/${type}/${id}/${event}`, "a", "width=1000, height=1500, left=100, top=50"); 
        }

        async function PutReqSendEvent(id, scenarioLoginId, scenarioExtension){ 
          console.log(`PutReqSendEvent.. id:${id}, scenarioLoginId:${scenarioLoginId}, scenarioExtension:${scenarioExtension}`)
          let fromAddress = document.getElementById('Scenario_Calling').value
          let loginId = document.getElementById(scenarioLoginId).value
          let extension = document.getElementById(scenarioExtension).value
          console.log(id)
          let body = {
            VO : {
              RequestAction : 'SendEvent',
              FromAddress : fromAddress,
              AgentId : loginId,
              Extension : extension
            }
          }
          await PutOrPostApi(`http://192.168.0.207:3000/finesse/api/Scenario/${id}`, 'PUT', body)
        }
        function SetScenarioValue(obj){
          document.getElementById('Scenario_Calling').value = obj.Default.Scenario_Calling
          document.getElementById('Scenario_LoginId_Agt').value = obj.Default.Scenario_LoginId_Agt
          document.getElementById('Scenario_Extension_Agt').value = obj.Default.Scenario_Extension_Agt
          document.getElementById('Scenario_LoginId_Mgr').value = obj.Default.Scenario_LoginId_Mgr
          document.getElementById('Scenario_Extension_Mgr').value = obj.Default.Scenario_Extension_Mgr
          document.getElementById('Scenario_DialogId_Agt').value = obj.Default.Scenario_DialogId_Agt
          document.getElementById('Scenario_DialogId_Mgr').value = obj.Default.Scenario_DialogId_Mgr

          let currentDiv = document.getElementById('ScenarioDiv')
          currentDiv.innerHTML = ''


          let _ScenarioDiv = document.createElement('div')
          console.log(obj.Scenarios)
          
          for(scenarioIdx in obj.Scenarios.Scenario){
            let ScenarioName = obj.Scenarios.Scenario[scenarioIdx].Name
            let ScenarioLoginId = ``
            let ScenarioDialogId = ``
            let ScenarioExtension = ``
            let LoginId = ``
            let DialogId = ``
            if(scenarioIdx == '0'){
              LoginId = obj.Default.Scenario_LoginId_Agt
              DialogId = obj.Default.Scenario_DialogId_Agt
              ScenarioLoginId = 'Scenario_LoginId_Agt'
              ScenarioDialogId = 'Scenario_DialogId_Agt'
              ScenarioExtension = 'Scenario_Extension_Agt'
            }
            else if(scenarioIdx == '1'){
              LoginId = obj.Default.Scenario_LoginId_Agt
              DialogId = obj.Default.Scenario_DialogId_Mgr
              ScenarioLoginId = 'Scenario_LoginId_Mgr'
              ScenarioDialogId = 'Scenario_DialogId_Mgr'
              ScenarioExtension = 'Scenario_Extension_Mgr'
            }
            _ScenarioDiv.innerHTML += `<h3>${ScenarioName} DialogId : ${DialogId} LoginId : ${LoginId} </h3>`
            for(eventIdx in obj.Scenarios.Scenario[scenarioIdx].Events){
              let EventName = obj.Scenarios.Scenario[scenarioIdx].Events[eventIdx].name
              let type = obj.Scenarios.Scenario[scenarioIdx].Events[eventIdx].type
              let Id = type == 'Dialog' ? DialogId : LoginId
              let btnEventId = `${type}/${Id}/${EventName}`
              console.log(`make : name:${name}, type:${type}, EventName:${EventName}`)
              _ScenarioDiv.innerHTML += 
              `<div>
                ${EventName}
                <input id="${btnEventId}" type="button" value="${EventName} 내리기" onclick="PutReqSendEvent(this.id, '${ScenarioLoginId}', '${ScenarioExtension}')">
                <input type="button" value="조회" onclick="OpenDialogState('${type}', ${Id}, '${EventName}')">
              </div>`
            }
          }
          currentDiv.insertAdjacentElement('beforeend', _ScenarioDiv)
        }
        function GetScenarioValue(){
          return {
            Default : {
              Scenario_Calling : document.getElementById('Scenario_Calling').value,
              Scenario_LoginId_Agt : document.getElementById('Scenario_LoginId_Agt').value,
              Scenario_Extension_Agt : document.getElementById('Scenario_Extension_Agt').value,
              Scenario_LoginId_Mgr : document.getElementById('Scenario_LoginId_Mgr').value,
              Scenario_Extension_Mgr : document.getElementById('Scenario_Extension_Mgr').value,
              Scenario_DialogId_Agt : document.getElementById('Scenario_DialogId_Agt').value,
              Scenario_DialogId_Mgr : document.getElementById('Scenario_DialogId_Mgr').value
            }
          }
        }
        async function GetApiAndSetDefaultScenario(url){
          let objResponse = await GetApi(url)
          if(objResponse == null) return
          SetScenarioValue(objResponse)
        }
        async function PutApiDefaultScenario(url){
          body = GetScenarioValue()
          let objResponse = await PutOrPostApi(url, 'PUT', body)
        }
        async function PutApiScenarioEvent(url){

          console.log(url)
        }
      </script>
      <h1>
        유저
      </h1>
      <p><a href="/finesse/views/User">유저CRUD</a></p>
      <h1>
        다이얼로그
      </h1>
      <p><a href="/finesse/views/Dialog">다이얼로그CRUD</a></p>
      <div>
        <h1>
          시나리오
        </h1>
        <p>인입번호<input id="Scenario_Calling" type="text"></p>
        <div>
          <p>
            1차 사번<input id="Scenario_LoginId_Agt" type="text">
            1차 내선<input id="Scenario_Extension_Agt" type="text">
            <input type="button" value="State 조회" onclick="">
          </p>
        </div>
        <div>
          <p>
            2차 사번<input id="Scenario_LoginId_Mgr" type="text">
            2차 내선<input id="Scenario_Extension_Mgr" type="text">
            <input type="button" value="State 조회" onclick="">
          </p>
        </div>
        <div>
          <p>
            1차호 DialogId<input id="Scenario_DialogId_Agt" type="text">
            <input type="button" value="State 조회" onclick="">
          </p>
        </div>
        <div>
          <p>
            2차호 DialogId<input id="Scenario_DialogId_Mgr" type="text">
            <input type="button" value="State 조회" onclick="">
          </p>
        </div>
        <input type="button" value="조회" onclick="GetApiAndSetDefaultScenario('http://192.168.0.207:3000/finesse/api/Scenario/default')">
        <input type="button" value="수정" onclick="PutApiDefaultScenario('http://192.168.0.207:3000/finesse/api/Scenario/default')">
      </div>
      <div id="ScenarioDiv">

      </div>
    </body>
  </html>